[uwsgi]

socket = {{ uwsgi_app_socket_path }}
chmod-socket = {{ uwsgi_app_socket_chmod }}
chown-socket = {{ uwsgi_app_socket_user }}:{{ uwsgi_app_socket_group }}
safe-pidfile = {{ uwsgi_app_socket_path|replace('.sock', '.pid') }}

processes = {{ uwsgi_app_process_number }}
max-requests = {{ uwsgi_app_process_requests_max }}

chdir = {{ uwsgi_app_chdir }}
uid = {{ uwsgi_app_exec_user }}
gid = {{ uwsgi_app_exec_group }}

plugins = 0:{{ uwsgi_app_plugin|replace('-', '_')|replace('.', '') }}

logto = /var/log/uwsgi/{{ uwsgi_app_name }}.log

{% include 'templates/plugins/'+uwsgi_app_plugin+'.ini.j2' with context %}
